<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <h1>Sign Up</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                <br>
                {{ form.username(size=32) }}
                <br>
                {% if error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endif %}
            </p>
            <p>
                {{ form.email.label }}
                <br>
                {{ form.email(size=64) }}
                <br>
                {% if error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endif %}
            </p>
            <p>
                {{ form.password.label }}
                <br>
                {{ form.password(size=32) }}
                <br>
                {% if error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endif %}
            </p>
            <p>
                {{ form.repeat_password.label }}
                <br>
                {{ form.repeat_password(size=32) }}
                <br>
                {% if error in form.repeat_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endif %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endblock %}
</body>
</html>